/* ==========< Flex & Grid Utilities >========== */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.place-center {
  justify-content: center;
  align-items: center;
}

.btn {
  background: linear-gradient(
    180deg,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  border: none;
  border-radius: 0.625rem;
  color: var(--primary-Color);
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s linear;
}

.btn:hover {
  border-radius: 0;
  color: var(--light-color);
}

.btn::before {
  background: #1a213d;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: scaleX(0);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn:hover::before {
  transform: scaleX(1);
  z-index: -1;
}

.box {
  position: relative;
  cursor: pointer;
}

.box::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #176b87;
  border-radius: 0.625rem;
  z-index: -1;
  transition: 0.5s transform ease-in;
}

.box:hover.box::after {
  transform: translate(1.2rem, 1.5rem) rotate(-5deg) scale(1.01);
}

